$primary: rgb(60, 71, 226);
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color:white;
}

.login-card {
  background: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
  height: 62vh;
}

.login-avatar {
  margin-bottom: 1rem;
  font-size: 4rem;
  color: $primary;
}

.form-group {
  margin-bottom: 1.5rem;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group-prepend .input-group-text,
.input-group-append .input-group-text {
  background: none;
  border: none;
}

.input-group-prepend .input-group-text i,
.input-group-append .input-group-text i {
  font-size: 1.2rem;
  color: #6c757d;
}

.form-control {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0.75rem;
  font-size: 1rem;
}

.remember-me {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.remember-me input {
  margin-right: 0.5rem;
}

.forgot-password {
  text-align: right;
  margin-bottom: 1rem;
}


.login-card {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}



button {
  -webkit-appearance:  none; 
  width:  auto;
  min-width:  100px;
  border-radius:  24px; 
  text-align:  center; 
  padding:  15px 40px;
  margin-top:  5px; 
  background-color:  saturate($primary, 30%); 
  color:  #fff; 
  font-size:  14px;
  margin-left:  auto; 
  font-weight:  500; 
  box-shadow:  0px 2px 6px -1px rgba(0,0,0,.13); 
  border:  none;
  transition:  all .3s ease; 
  outline: 0; 
  &:hover {
    transform:  translateY(-3px);
    box-shadow:  0 2px 6px -1px rgba($primary, .65);
    &:active {
      transform:  scale(.99);
    }
  }
}