<footer class="text-center text-lg-start text-dark pt-5">
    <div class="container p-4 pb-0">
        <div class="row">
            <div class="col d-flex flex-column align-items-center mb-4 mb-md-0">
                <img src="logo.png" alt="logo" class="mb-3">
                <h2>Explore Salento</h2>
                <p class="text-muted">Crediamo che il viaggio abbia il potere di cambiarci. E abbiamo il potere di cambiare il modo di viaggiare.</p>
            </div>
            <div class="col mb-4 mb-md-0">
                <h5 class="text-uppercase text-primary">Company</h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="#" class="text-dark text-decoration-none">About</a></li>
                    <li><a href="#" class="text-dark text-decoration-none">Careers</a></li>
                    <li><a href="#" class="text-dark text-decoration-none">Mobile</a></li>
                    <li><a href="#" class="text-dark text-decoration-none">Blog</a></li>
                </ul>
            </div>
            <div class="col mb-4 mb-md-0">
                <h5 class="text-uppercase text-primary">Contact</h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="#" class="text-dark text-decoration-none">Help / FAQ</a></li>
                    <li><a href="#" class="text-dark text-decoration-none">Press</a></li>
                    <li><a href="#" class="text-dark text-decoration-none">Customer Service</a></li>
                    <li><a href="#" class="text-dark text-decoration-none">Affiliates</a></li>
                </ul>
            </div>
            <div class="col mb-4 mb-md-0">
                <h5 class="text-uppercase text-primary">More</h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="mailto:tuo@email.com" class="text-dark text-decoration-none">Email: luca8martella@gmail.com</a></li>
                    <li><a href="https://github.com/martella93" class="text-dark text-decoration-none" target="_blank" rel="noopener noreferrer">GitHub: martella93</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center p-3 mt-4 footer-bottom">
        <p class="mb-0">© All rights reserved</p>
        <div class="d-flex justify-content-center footer-social">
            <a href="https://www.instagram.com/" class="text-dark me-3" target="_blank" rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
            <a href="https://x.com/" class="text-dark me-3" target="_blank" rel="noopener noreferrer"><i class="bi bi-twitter"></i></a>
            <a href="https://www.facebook.com/" class="text-dark me-3" target="_blank" rel="noopener noreferrer"><i class="bi bi-facebook"></i></a>

        </div>
    </div>
</footer>