body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
}


.navbar-nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    text-decoration: none;
    color: black;
}

.menu-icons i {
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer;
}



.menu-container {
    position: relative;
    display: inline-block;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0; /* Aggiungi questa linea per far sì che il menu a tendina si allinei a destra */
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}
.menu-arrow {
    font-size: 1.2rem; /* Dimensione dell'icona della freccia */
    margin-left: 0.1rem; /* Spazio tra l'icona del profilo e l'icona della freccia */
    transition: transform 0.3s ease; /* Animazione di rotazione */
  }
  
  .rotate {
    transform: rotate(180deg); /* Ruota la freccia quando il menu è aperto */
  }
  .menu-container:hover .menu-arrow {
    color: #007bff; /* Colore della freccia al passaggio del mouse */
  }
  