body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
}


.navbar-nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    text-decoration: none;
    color: black;
}

.menu-icons i {
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer;
}

/* styles.css */

.menu-container {
    position: relative;
    display: inline-block;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0; /* Aggiungi questa linea per far sì che il menu a tendina si allinei a destra */
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}