<p>prenotazioni works!</p>
<div *ngIf="prenotazioni.length > 0">
    <h2>Le tue prenotazioni</h2>
    <ul>
      <li *ngFor="let prenotazione of prenotazioni">
        Prenotazione ID: {{ prenotazione.id }} - Stato: {{ prenotazione.stato }}
        <button (click)="cancellaPrenotazione(prenotazione.id)">Cancella</button>
        <p>posti prenotati{{prenotazione.postiPrenotati}}</p>
        <p>id esperienza{{prenotazione.esperienza.id}}</p>
      </li>
      
    </ul>
  </div>
  <div *ngIf="prenotazioni.length === 0">
    <p>Non hai nessuna prenotazione.</p>
  </div>