body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
    margin-top: 10px;
}


.menu-icons i {
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer;
}


.header-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-top: 100px;

}

@media (max-width: 576px) {
    .header-container h1 {
        font-size: 2.5rem; 
        margin-bottom: 0.5rem; 
    }

    .search-bar {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    .search-button{
        margin-top: 10px;
    }

    .search-bar input {
        width: 100%; 
        margin-bottom: 0.5rem; 
    }
}





input {
    font-family: 'Inconsolata', monospace;
    margin: 0 auto;
    width: 300px;
    height: 50px;
    outline: none;
    border: none;
    background: crimson;
    color: white;
    text-shadow: 0 0 10px crimson;
    padding: 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 crimson, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
    font-weight: bolder;
    letter-spacing: 0.1em;
    z-index: 5;
    opacity: 1;
    cursor: text;
}

input::placeholder {
    color: white;
    opacity: 0.5;
    font-weight: bolder;
}

.search-button {
    margin-left: 10px;
    width: 50px;
    height: 50px;
    background: crimson;
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    z-index: 5;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
 
}

.search-button:hover {
    background: darkred;
}





.testimonials-section {
    background-color: #EFF8FE;
    padding: 50px 20px;
    text-align: center;
    margin-top: 100px;
}

.testimonials-section h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 30px;
}

.testimonials-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px;
    justify-content: center;
    scroll-behavior: smooth;
}
@media (max-width: 576px) {
    .testimonials-container {
        justify-content: unset; 
    }
}

.testimonial {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 0 0 250px; 
    height: 400px; 
    transition: transform 0.3s;
}

.testimonial:hover {
    transform: translateY(-10px);
}

.testimonial-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between; 
}

.stars {
    font-size: 1.5rem;
    color: #ff9800;
    margin-bottom: 10px;
}

.testimonial p {
    font-size: 1rem;
    color: #666;
}

.testimonial .author {
    margin-top: 15px;
    font-weight: bold;
    color: #333;
}

.testimonial .author a {
    color: #007bff;
    text-decoration: none;
}

.testimonial .author a:hover {
    text-decoration: underline;
}


.service-box img {
    width: 60px;
    height: 60px;
}

.service-box h4 {
    font-size: 18px;
    margin: 10px 0;
}

.service-box p {
    font-size: 14px;
    color: #666666;
    max-width: 300px;
    margin: 0 auto;
}

.services-section {
    background: url('https://cdn.pixabay.com/photo/2017/06/27/15/20/otranto-2447733_960_720.jpg') no-repeat center center;
    background-size: cover;
    width: 80%;
    height: 60vh;
    position: relative;
    margin-left: 200px;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
}

@media (max-width: 1200px) {
    .services-section {
        margin-left: 0;
    }
}

@media (max-width: 768px) and (min-width: 576px) {
    .services-section {
        margin-left: 56px;
    }
}
@media (max-width: 992px) and (min-width: 768px) {
    .services-section {
        margin-left: 76px; 
    }
}
@media (max-width: 1200px) and (min-width: 992px) {
    .services-section {
        margin-left: 100px;
    }
}

.title {
    font-size: 40px;
    color: #F9F8F6; 
    margin-bottom: 400px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

