<div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
</div>

<div *ngIf="favoriti.length > 0; else noFavoriti" class="text-center">
    <h2>Favoriti</h2>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4 mb-4" *ngFor="let favorito of favoriti">
                <div class="card text-center"
                    style="width: 18rem; border-radius: 10px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);">
                    <img src="{{ favorito.esperienza.foto[0] }}" class="card-img-top" alt="Experience"
                        style="border-top-left-radius: 10px; border-top-right-radius: 10px;"
                        [routerLink]="['/dettaglio-esperienza', favorito.esperienza.id]">
                    <div class="card-body">
                        <p class="card-text text-muted mb-2">From ${{ favorito.esperienza.prezzo }}</p>
                        <h5 class="card-title">{{ favorito.esperienza.titolo }}</h5>
                        <div class="d-flex align-items-center justify-content-center mb-2">
                            <span class="text-warning" style="font-size: 1.2em;">★</span>
                            <span class="fw-bold ms-1">3.9</span>
                            <span class="text-muted ms-1">· 11 Ratings</span>
                        </div>
                        <p class="card-text text-muted"><i class="bi bi-geo-alt"></i> {{ favorito.esperienza.luogo }}
                        </p>
                        <button class="btn btn-danger" (click)="rimuoviDaPreferiti(favorito.esperienza.id)">Rimuovi dai preferiti</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #noFavoriti>
    <p class="text-center mt-4">Nessun preferito trovato per questo utente.</p>
</ng-template>