.card {
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .card-body {
    padding: 15px;
  }
  
  .card-title {
    font-size: 1.25em;
    font-weight: bold;
    color: #333;
  }
  
  .card-text {
    font-size: 1em;
    color: #555;
  }
  
  i.bi {
    font-size: 1.2em;
     color:#777;
  }
 
.recensione-rating .bi-star-fill,
.recensione-rating .bi-star {
  color: yellow;
  font-size: 16px; /* Adjust the size as needed */
}

.recensione p {
  font-style: italic;
}
