<div class="card-section">
  <div class="all-card">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let esperienza of esperienze">
        <div class="card mt-5 card-luca">
          <div class="card-header position-relative">
            <i class="bi favorite-icon" [ngClass]="{
                      'bi-bookmark': !isPreferito(esperienza),
                      'bi-bookmark-fill': isPreferito(esperienza),
                      'favorite': isPreferito(esperienza)
                    }" (click)="togglePreferito(esperienza)">
            </i>
            <img src="{{ esperienza.foto[0] }}" class="card-img-top" alt="Experience"
              [routerLink]="['/dettaglio-esperienza', esperienza.id]">
          </div>
          <div class="card-body mt-4">
            <div class="price">
              <p>from <span> ${{esperienza.prezzo}}</span></p>
            </div>
            <div class="content" [routerLink]="['/dettaglio-esperienza', esperienza.id]">
              <p>{{esperienza.titolo}}</p>
            </div>
            <div class="rating">
              <div class="star mt-2">
                ★ <span class="total">3.9 </span><span class="total-ratings text-muted">11 ratings</span>
              </div>
            </div>
            <div class="location">
              <div class="icon">
                <p class="card-text text-muted"><i class="bi bi-geo-alt"></i>{{esperienza.luogo}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
